<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @api_v1_order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @api_v1_order.last_name %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @api_v1_order.shipping_address %>
</p>

<p>
  <strong>Order total:</strong>
  <%= @api_v1_order.order_total %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @api_v1_order.paid_at %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @api_v1_order.order_status %>
</p>

<%= link_to 'Edit', edit_api_v1_order_path(@api_v1_order) %> |
<%= link_to 'Back', api_v1_orders_path %>
