

<h2>All Products</h2>

<% @api_v1_products.each do |product| %>
  <p>Name: <%= product.title %>; unit price of <%= product.price %></p>
  <b> from <%= product.region.tax.tax_rate %></b>
  <p>
    <%= link_to "Edit", edit_api_v1_product_path(product) %> |
    <%= link_to "Delete", api_v1_product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= button_to "Add #{product.title} to cart", api_v1_line_items_path(:product_id => product.id) %>    
  </p>
<% end %>