<%= form_with(model: api_v1_country) do |form| %>
  <% if api_v1_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_country.errors.count, "error") %> prohibited this api_v1_country from being saved:</h2>

      <ul>
        <% api_v1_country.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :country_code %>
    <%= form.text_field :country_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
