<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tax.title %>
</p>

<p>
  <strong>Tax category:</strong>
  <%= @tax.tax_category %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
