<%= form_with(model: api_v1_currency) do |form| %>
  <% if api_v1_currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_currency.errors.count, "error") %> prohibited this api_v1_currency from being saved:</h2>

      <ul>
        <% api_v1_currency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
