<%= form_with(model: region) do |form| %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
        <% region.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.number_field :country_id %>
  </div>

  <div class="field">
    <%= form.label :currency_id %>
    <%= form.number_field :currency_id %>
  </div>

  <div class="field">
    <%= form.label :tax_id %>
    <%= form.number_field :tax_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
