<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @region.title %>
</p>

<p>
  <strong>Country:</strong>
  <%= @region.country_id %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @region.currency_id %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @region.tax_id %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
