<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @api_v1_store.title %>
</p>

<p>
  <strong>Region:</strong>
  <%= @api_v1_store.region_id %>
</p>

<%= link_to 'Edit', edit_api_v1_store_path(@api_v1_store) %> |
<%= link_to 'Back', api_v1_stores_path %>
